input[type=submit]  {
  box-sizing: border-box;

  height: 40px;

  margin: 1em 0;
  outline: none;
  border: none;
  border-radius: 5px;

  cursor: pointer;
  color: #fff;
  background-color: #4e4eff;
  transition: all .2s ease-in-out;
}

input[type=submit]:hover {
  background-color: #0000ff;
}